body {
    color: #222;
    font-family: sans-serif;
    text-align: center;
}

.caja {
    width: 200px;
    height: 200px;
    display: flex;
    background: #48e;
    font-size: 40px;
    color: white;
}

.caja span, .responsive-caja span {
    margin: auto;
}

.responsive-caja {
    width: 100%;
    height: 200px;
    display: flex;
    background: #333;
    font-size: 40px;
    color: white;
}
